<div class="row" ng-init="init()">
  <div class="col-xs-12 col-sm-6 col-lg-4 center-block">

    <div class="alert alert-danger" role="alert" ng-show="error.message">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error.message}}
    </div>

    <div class="form-group">
      <label for="email">Empresa</label>
      <select class="form-control" ng-model="company_id" ng-change="fetchProducts()" required>
        <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
      </select>
    </div>

    <div class="form-group typeahead-demo">
      <label for="product">Produto</label>
      <input class="form-control" type="text"
             ng-model="product"
             ng-disabled="!company_id"
             placeholder="Buscar produto.."
             typeahead-on-select="addItem($item, $model)"
             typeahead-popup-template-url="components/orders/_products_dropdown.html"
             uib-typeahead="product as product.name for product in products | filter:{name:$viewValue}">
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Lista de Compras</div>
      <table class="table">
        <tr>
          <th>Nome do Produto</th>
          <th>Quant</th>
          <th></th>
        </tr>
        <tr ng-repeat="item in items">
          <td>{{item.name}}</td>
          <td>
              {{item.quantity}}
              <button type="button" class="btn btn-default" ng-click="incriseProduct(item)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="decriseProduct(item)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="close" aria-label="Deletar" ng-click="removeItem(item)">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <button type="button" class="btn btn-primary btn-block" ng-click="createOrder()">Enviar Pedido</button>
    <a href="#!/home" class="btn btn-default btn-block">Cancelar</a>
  </div>
</div>
