<div class="alert alert-danger" role="alert" ng-show="error.message">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error.message}}
</div>

<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" ng-model="$parent.email" required>
</div>
<div class="form-group">
  <label for="pwd">Senha</label>
  <input type="password" class="form-control" ng-model="$parent.password" required>
</div>
<div class="form-group">
  <label for="pwd">Confirmar Senha</label>
  <input type="password" class="form-control" ng-model="$parent.password_confirmation" required>
</div>
