<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#!/home">Testaller</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/home">Home</a></li>
      <li><a href="#!/companies/new">Nova Empresa</a></li>
      <li><a href="#!/orders/new">Novo Pedido</a></li>

      <li uib-dropdown on-toggle="toggled(open)">
        <a href id="simple-dropdown" uib-dropdown-toggle>Felipe <span class="caret"></span></a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li><a href="#!/users/1">Minha Conta</a></li>
          <li role="separator" class="divider"></li>
          <li><a ng-click="signout()">Sair</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
