<div class="row" ng-init="init()">
  <div class="col-xs-12 col-sm-10 col-lg-6 center-block">
    <div class="panel panel-default" ng-show="companies.length">
      <div class="panel-heading">Lista de Empresas</div>
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Total Pedidos</th>
        </tr>
        <tr ng-repeat="company in companies" ui-sref="app.orders({cnpj: company.cnpj})">
          <td>{{company.name}}</td>
          <td>{{company.cnpj}}</td>
          <td>{{company.total_orders}}</td>
        </tr>
      </table>
    </div>

    <div class="panel panel-default" ng-hide="companies.length">
      <div class="panel-body text-center">
        <p class="lead">Você ainda não tem empresas cadastras</p>
        <a ui-sref="app.companies_new" class="btn btn-primary btn-lg">
          Cadastrar Empresa Agora
        </a>
      </div>
    </div>
  </div>
</div>
